{% extends 'base.html.twig' %}

{% block title %}CV{% endblock %}

{% block body %}
<h2 class="text-center mb-4">Intitulé du poste de mes rêves</h2>

<h3>Formations</h3>
<ul>
    <li>BUT Réseaux et Télécommunications – IUT de Roanne</li>
</ul>

<h3>Expériences professionnelles</h3>
<ul>
    <li>Stage / Alternance – Entreprise Exemple</li>
</ul>

<h3>Compétences</h3>
<ul>
    <li>HTML / CSS / Bootstrap</li>
    <li>PHP / Symfony</li>
    <li>Réseaux / TCP-IP</li>
</ul>
{% endblock %}
