{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section class="hero text-center py-5 bg-dark text-white">
    <div class="container">
        <h1 class="display-4 fw-bold">LAÏD Yanis</h1>
        <p class="lead">Bienvenue sur mon portfolio Symfony</p>
    </div>
</section>

{% endblock %}
