{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section class="text-center py-5 bg-primary text-white">
    <h1>LAÏD Yanis</h1>
    <p>Groupe TP : B2</p>
    <p>Bienvenue sur mon portfolio web !</p>
    <a href="{{ path('app_loisirs') }}" class="btn btn-light mt-3">Pour en savoir plus</a>
</section>
{% endblock %}
