.hero h1, .hero p {
    color: white; /* texte en blanc */
}

/* Faire que le body prenne toute la hauteur */
html, body {
    height: 100%;
}

/* Le conteneur principal qui contient tout le contenu */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* La partie “body” prend tout l’espace restant */
.content {
    flex: 1;
}
