{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
<div class="container py-5">
    <h2 class="text-center mb-4 fw-bold">Mon E-Portfolio</h2>

    <div class="ratio ratio-16x9 shadow">
        <iframe 
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTftkprrBNDOEgxHvnqtArm0k4Ip7mgps-QpcVDqiI1IxN1d98avjMhA5iTBY8xhfqkVk-g5HqP8-Fe/pubhtml?widget=true&amp;headers=false"
            style="width: 100%; height: 100%; border: none;">
        </iframe>
    </div>
</div>
{% endblock %}
