{% extends 'base.html.twig' %}

{% block title %}Loisirs{% endblock %}

{% block body %}
<h2 class="mb-4 text-center">Mes loisirs et passions</h2>
<div class="row g-4">
    <div class="col-md-4">
        <div class="card h-100">
            <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="Loisir 1">
            <div class="card-body">
                <h5 class="card-title">Loisir 1</h5>
                <p class="card-text">Description du loisir.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="Loisir 2">
            <div class="card-body">
                <h5 class="card-title">Loisir 2</h5>
                <p class="card-text">Description du loisir.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="Loisir 3">
            <div class="card-body">
                <h5 class="card-title">Loisir 3</h5>
                <p class="card-text">Description du loisir.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
